<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>442397057184-d6g39pei0k4o924u99core5pfuhk2ni3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.442397057184-d6g39pei0k4o924u99core5pfuhk2ni3</string>
	<key>API_KEY</key>
	<string>AIzaSyBcpIyop6KXP-K7vSHRqNNDjk8B0_DFXgU</string>
	<key>GCM_SENDER_ID</key>
	<string>442397057184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yummyHawaiianPizzaKim.KatTok</string>
	<key>PROJECT_ID</key>
	<string>kattok-443a4</string>
	<key>STORAGE_BUCKET</key>
	<string>kattok-443a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:442397057184:ios:89ebc3f393ae53967ee9c5</string>
</dict>
</plist>